[submodule "ESCAPE"]
	path = ESCAPE
	url = https://github.com/rarchambault/ESCAPE.git
[submodule "project-group-02"]
	path = project-group-02
	url = https://github.com/McGill-ECSE321-Fall2022/project-group-02
[submodule "RoboDuckies"]
	path = RoboDuckies
	url = https://github.com/WassimJabz/RoboDuckies.git
[submodule "McKrillCroesus"]
	path = McKrillCroesus
	url = https://github.com/rarchambault/McKrillCroesus.git
[submodule "McKrillWebMobile"]
	path = McKrillWebMobile
	url = https://github.com/rarchambault/McKrillWebMobile.git
[submodule "pong-game"]
	path = pong-game
	url = https://github.com/rarchambault/pong-game.git
